  <title>Stories</title>

  <!-- Demo styles -->
    <style>
      .swiper {
        width: 100%;
        height: 500px
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit:scale-down;
      }
    </style>

  <!-- Swiper -->
   <div class="container p-3">
      <div class="swiper mySwiper border border-4 border-dark">
      <div class="swiper-wrapper">
        
        {{#each photos}}
            <div class="swiper-slide"><img src="{{imageURL}}" alt=""></div>
        {{/each}}
          
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
   </div>

    <hr class="bg-dark">

    <div class="bg-secondary">
      <div class="container p-3">
        <div class="row flex container justify-content-center">
         {{#each photos}}
          <div class="col-md-4">
              <div class="card mb-3 rounded-3">
                  <img src="{{imageURL}}" class="car-img-top rounded" alt="">
                   <div class="card-body p-3">
                <h5 class="cad-title">{{title}}</h5>
                <p class="card-text">{{description}}</p>
                <a href="/view/{{_id}}" class="btn btn-primary">ver</a>
              </div>
              </div>
          </div>
         {{/each}}
      </div>
      </div>
    </div>

    

    





